/*
 *
 * {{properCase name }}
 *
 */

import * as React from 'react';
import { connect } from 'react-redux';
{{#if wantHeaders}}
import * Helmet from 'react-helmet';
{{/if}}
{{#if wantActionsAndReducer}}
import select{{properCase name}} from './selectors';
{{/if}}
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}
{{#if wantCSS}}
const styles = require('./styles.css');
{{/if}}

{{#if wantActionsAndReducer}}
const mapStateToProps = select{{properCase name}}();
{{/if}}

function mapDispatchToProps(dispatch) {
  return {
    dispatch,
  };
}

{{#if wantActionsAndReducer}}
@(connect(mapStateToProps, mapDispatchToProps) as any)
{{else}}
@(connect(null, mapDispatchToProps) as any)
{{/if}}
export default class {{ properCase name }} extends React.Component<any, any> { // eslint-disable-line react/prefer-stateless-function
  public render() {
    return (
      {{#if wantCSS}}
      <div className={{curly true}}styles.{{ camelCase name }}{{curly}}>
          <div>hello world</div>
      {{else}}
      <div>
      {{/if}}
      {{#if wantHeaders}}
        <Helmet
          title="{{properCase name}}"
          meta={{curly true}}[
            {{curly true}} name: 'description', content: 'Description of {{properCase name}}' {{curly}},
          ]{{curly}}
        />
      {{/if}}
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    );
  }
}